In [ ]:
# 5
# 7
# 3 8
# 8 1 0
# 2 7 4 4
# 4 5 2 6 5 

# ans = 30

N = int(input())
tri = []
for _ in range(N):
    tri.append(list(map(int, input().split())))